<section class= 'row'>
  <div class= 'col-xs-12'>
    {{#is "post"}}
    <div class= 'center-block' style= 'background-image: radial-gradient(#343434, #FFFFFF); padding-top: 1px; padding-bottom: 1px; width: 100%; max-width: 696px;'>
      <a href= "https://www.deurali.co/index">
        <div class= 'valign' style= 'width: 100%; height: 100%; background-color: #FFFFFF; padding: 32px;'>
          <img class= 'center-block' style= 'width: 44px; height: 28px;' src= '{{asset "images/barchart.svg"}}' />
          <h3 style= 'text-align: center; margin: 0px;'>Recent Articles</h3>
        </div>
      </a>
    </div>
    {{else}}
      {{#is "home"}}
    <div class= 'center-block' style= 'background-image: radial-gradient(#ABABAB, #FFFFFF); height: 1px; width: 100%; max-width: 696px;'></div>
      {{else}}
      <div class= 'center-block' style= 'background-image: radial-gradient(#343434, #FFFFFF); padding-bottom: 1px; width: 100%; max-width: 696px;'>
          <div class= 'valign' style= 'width: 100%; height: 100%; background-color: #FFFFFF; padding: 32px;'>
            <img class= 'center-block' style= 'width: 44px; height: 28px;' src= '{{asset "images/barchart.svg"}}' />
            <h3 style= 'text-align: center; margin: 0px;'>All Articles</h3>
          </div>
      </div>
      {{/is}}
    {{/is}}
  </div>
  <div class= 'col-xs-12'>
    <div class= 'content-width center-block'>
      {{#is "post"}}
        {{#get "posts" limit="3" filter="id:-{{id}}"}}
          {{#foreach posts}}
            {{> article}}
          {{/foreach}}
        {{/get}}
      {{else}}
        {{#foreach posts from="2" limit="5"}}
          {{> article}}
        {{/foreach}}
      {{/is}}
      <div style= 'text-align: center; margin-top: 32px; margin-bottom: 32px;'>
        <a href= "https://www.deurali.co/index">
          <div class= 'button' style= 'display: inline-block;'>
            <h5>See All Articles</h5>
          </div>
        </a>
      </div>
  </div>
</section>
