<!DOCTYPE html>
<html>
<head>
    <meta name="robots" content="noindex" />
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/blog.css"}}" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather;400,700|Roboto:300" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/Users/cameronlees/Documents/Projects/Deurali Blog/deurali/blog.css" />
    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>
<body>
    {{> toolbar}}
    {{{body}}}
    {{> footer}}
    {{ghost_foot}}
</body>
</html>
